@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Анимация текстового паттерна */
@keyframes slide-diagonal {
  0% {
    transform: rotate(-45deg) translateY(-75%) translateX(-50%);
  }
  100% {
    transform: rotate(-45deg) translateY(-25%) translateX(-50%);
  }
}

.animate-slide-diagonal {
  animation: slide-diagonal 30s linear infinite;
  color: rgba(255, 105, 180, 0.5);
}

.pixelated {
  image-rendering: pixelated;
}

/* Стили для контейнера персонажа */
.character-container {
  transition: all 0.3s ease;
}

/* Медиа-запрос для мобильных устройств */
@media screen and (max-width: 768px) {
  .character-container {
    bottom: -50px;
    right: -50px;
  }

  .character-image {
    width: 200px;
    height: 200px;
  }
}

/* Дополнительный медиа-запрос для очень маленьких экранов */
@media screen and (max-width: 480px) {
  .character-container {
    bottom: -30px;
    right: -30px;
  }

  .character-image {
    width: 150px;
    height: 150px;
  }
}
