@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #000000;
}

@layer base {
  body {
    font-family: var(--font-press-start-2p), monospace;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  max-width: 100vw;
  overflow-x: hidden;
}

.pixel-font {
  font-family: var(--font-press-start-2p), monospace;
}

/* Остальные стили... */
